[MASTER]
# Specify the Python environment with the installed packages
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    import-error,  # Handles the git import warning
    logging-fstring-interpolation  # If you want to keep f-strings in logging

[FORMAT]
max-line-length=100
